<section class="vcard">
  <h1><a class="url fn" href="http://chrisweldon.net">Chris Weldon</a></h1>
  <img class="photo" src="/images/asides/chrisweldon.png" alt="Chris Weldon" width="100" height="125" style="float: right;" />
  <p class="note">A savvy technologist and Microsoft MVP, Chris slings code in C# and PHP, but has also been known for commanding a fleets of systems. He's currently a Vice President at <a href="http://www.gs.com">Goldman Sachs</a>.</p>
  <p style="text-align: center;">
    <a class="email" href="mailto:chris@chrisweldon.net">chris@chrisweldon.net</a><br />
  </p>
  <a href="https://mvp.support.microsoft.com/profile/Chris.Weldon" target="_blank">{% img center /images/asides/mvplogo.png Microsoft MVP %}</a>
  <div class="tel" style="display: none">+1.979.739.5874</div>
</section>
